<?xml version='1.0'?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android' android:versionCode='79' android:versionName='0.0.79'>
    <supports-screens android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application android:label='Plaasbestuur' android:icon="@mipmap/ic_launcher">
        <activity android:name='com.gluonhq.helloandroid.MainActivity'
                  android:exported="true"
                  android:configChanges="orientation|keyboardHidden">
             <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
             </intent-filter>
        </activity>
        <activity android:name="com.gluonhq.impl.attach.android.PermissionRequestActivity" 
        		  android:exported="true"/>
    </application>
</manifest>

